.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: clamp(1.3rem,2vw,2vw);
    cursor: pointer;
}

.new{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
