.main {
  padding: 3rem;
}

.loading,
.noMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Navbar*/
.nav {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
}

.logo {
  font-size: clamp(1.3rem, 2vw, 2vw);
  cursor: pointer;
}

.links{
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Card */
.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3px;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.card:hover{
  background-color: aliceblue;
}
.card p {
  text-align: left;
  margin: 0;
  line-height: 1.5;
}

.cardInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfo {
  display: flex;
  gap: 1rem;
}

.deleteButton {
  width: min-content;
  background-color: transparent;
  border: none;
}
.deleteIcon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.deleteIcon:hover {
  transform: scale(1.2);
}

/* New */

.title {
  font-size: clamp(1rem, 1vw, 1vw);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  outline: none;
  height: 20px;
  padding: 0;
  padding-left: 5px;
}

textarea {
  height: 50px;
  outline: none;
  padding: 0;
  padding-left: 5px;
  padding-top: 5px;
  max-width: 50vw;
}

label {
  text-align: right;
  width: 100px;
}

.submit {
  margin-top: 2rem;
  padding: 0.35rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: orange;
  cursor: pointer;
  color: white;
  align-self: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit:hover {
  transform: translateY(-3px);
  background-color: rgb(175, 114, 0);
}

@media (max-width: 600px) {
  .newMessage{
    display: none;
  }
  .newMessageIcon{
    width: 30px;
    height: 30px;
  }
  .form p {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  label {
    width: auto;
  }
  .cards,  .main {
    padding: 0;
  }
  .cardInfo {
    flex-direction: column;
    gap: 0.5rem;
  }

  .card{
    max-height: 400px;
    overflow: scroll;
  }
}
