.main{
    padding: 3rem 
}

/* Navbar*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: clamp(1.3rem,2vw,2vw);
    cursor: pointer;
}

.new{
    text-decoration: none;
    cursor: pointer;
    color: black;
}


/* Card */
.text{
    text-align: left;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
}
.cardInfo{
    display: flex;
    gap: 1rem;
}