.main {
  padding: 3rem;
}

/* Navbar*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: clamp(1.3rem, 2vw, 2vw);
  cursor: pointer;
}

.new {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3px;
  width: fit-content;
}
.card p {
  text-align: left;
  margin: 0;
  line-height: 1.5;
}
.cardInfo {
  display: flex;
  gap: 1rem;
}

/* Home */
.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}
